<div>***Max sentences per paragraph is 57***</div>
<div>***Max paragraphs are 1000000***</div>
<form method="post" action="/">
  <input type="text" name="paragraphs" value="Paragraphs">
  <input type="text" name="sentences" value="Sentences per Paragraph">
  <input type="submit">
</form>